body{
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
      /* asigna el numero de colucnas especificadas mediante el espacio dentro de grid */
  /* grid-template-columns: 200px 200px 200px; */
  /* grid-template-rows: 300px 300px; */
      /* tambien se puede utilizar en una sola donde : filas / columnas;  */
  /* grid-template: 50px 70px 50px / 1fr 1fr 1fr; */
  grid-template: repeat(4, 50px) / repeat(3,1fr);
      /* De igual manera funciona para los espaciados con la propiedad grid-column/row-gap o: */
  /* grid-column-gap: 20px; */
      /* donde: filas columnas; */
  /* grid-gap: 10px 20px;  */
  grid-gap: 10px; 
}

.item{
  background: #0791e6;
  padding: 10px;
  border: 1px solid #273b47;
  overflow: auto;
  /* funcionara como si estubiera heredando el "display: grid;" del padre */
  /* display: subgrid; */
}

.item:nth-of-type(4){
  background: blue;
}

.container2{
  height: 400px;
  display: grid;
  grid-template: 60px 1fr 60px / 160px 1fr;
  grid-template-areas: "header header"
                       "left container"
                       "footer footer";
  grid-gap: 10px; 
}

.item2{
  background: #e2017b;
  padding: 10px;
  border: 1px solid #e6001e;
}

.header{
      /* Esta propiedad hereda del container del padre */
  grid-area: header;
}

.left{
  grid-area: left;
}

.contenido{
  grid-area: container;
}

.footer{
  grid-area: footer;
}

.container3{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
  height: 300px;
}

.item3{
  background: #fbdd4b;
  padding: 10px;
  border: 1px solid #b24b18;
}

.item3:nth-of-type(1){
  /* Con esta propieda marcamos la pocision obiamente toca definir cuando inicia y cuando termina */
  /* Recuerda que toma como referencia las leneas no las columnas */
  /* grid-column-start: 1; */
  /* grid-column-end: 3 ; */
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}
.item3:nth-of-type(2){
  grid-column: 4 / span 2;
  grid-row: 1 / span 2;
}
.item3:nth-of-type(3){
  grid-column: 6 / span 2;
}
