body{
  margin: 0;
  background-color: #242222c3;
  display: grid;
  /* justify-content: center; */
  width: 100%;
  padding: 5px;
  grid-gap: 10px;
}

.container{
  height: 260px;
  border: 1px solid rgb(180, 151, 207);
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 200px;
}

.canastaUno{
  display: flex;
  width: 100%;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.pelota {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: red;
  transition-property: width, height;
  transition-duration: 1s;
  transition-delay: 0.1s;
  transition-timing-function: ease;
}

.pelota:hover{
  width: 200px;
  height: 200px;
}

/* ====================================================================================== */
/* ====================================================================================== */

.canastaDos{
  display: flex;
  width: 100%;
  border: 1px solid red;
  height: 100px;
  position: relative;
}

.canastaDos:hover .pelotaDos.aDos{
  left: calc(50% - 98px);
}

.canastaDos:hover .pelotaDos.bDos{
  right: calc(50% - 98px);
}

.pelotaDos {
  transition-duration: 1s;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.pelotaDos.aDos{
  background: red;
  height: 98px;
  width: 98px;
  left: 0;
}

.pelotaDos.bDos{
  background: blue;
  height: 98px;
  width: 98px;
  right: 0;
}

/* ====================================================================================== */
/* ====================================================================================== */

.canastaTres{
  display: flex;
  width: 100%;
  border: 1px solid red;
  height: 100px;
  position: relative;
  transform: rotate(10deg) skew(10deg) translate(2px) scale(.8);
}

.canastaTres:hover .pelotaTres.aTres{
  left: calc(50% - 98px);
}

.canastaTres:hover .pelotaTres.bTres{
  right: calc(50% - 98px);
}

.pelotaTres {
  transition-duration: 1s;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.pelotaTres.aTres{
  background: red;
  height: 98px;
  width: 98px;
  left: 0;
}

.pelotaTres.bTres{
  background: blue;
  height: 98px;
  width: 98px;
  right: 0;
}

/* ====================================================================================== */
/* ====================================================================================== */

.canastaCuatro{
  border: 1px solid red;
  width: 200px;
  height: 200px;
}

.canastaCuatro:hover .cuadro{
    /* rotate3D(x,y,z, valor) */
  transform: rotate3D(0,0,1, 360deg);
}

.cuadro{
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  background: #7dc900;
  height: 160px;
  width: 160px;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* ====================================================================================== */
/* ====================================================================================== */

.canastaQuinto{
  border: 1px solid rgb(221, 219, 219);
  width: 200px;
  height: 200px;
}

.canastaQuinto:hover .cuadroDos{
    /* translate3D(x,y,z) */
  transform: translate3D(-100px,0,40px);
}

.cuadroDos{
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  background: #00b5c9;
  height: 160px;
  width: 160px;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


/* ====================================================================================== */
/* ====================================================================================== */

.canastaSeis{
  border: 1px solid rgb(241, 239, 239);
  width: 200px;
  height: 200px;
}

.canastaSeis:hover .cuadroTres{
    /* scale(x,y) */
  transform: scale(2,.5);
}

.cuadroTres{
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  background: #c98300;
  height: 160px;
  width: 160px;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* ====================================================================================== */
/* ====================================================================================== */

.canastaSiete{
  border: 1px solid rgb(245, 240, 240);
  width: 200px;
  height: 200px;
}

.canastaSiete:hover .cuadroCuatro{
    /* skew(x,y) */
  transform: skew(40deg,40deg);
}

.cuadroCuatro{
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  background: #a100c9;
  height: 160px;
  width: 160px;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* ====================================================================================== */
/* ====================================================================================== */

.canastaOcho{
  border: 1px solid red;
  width: 200px;
  height: 200px;
}

.canastaOcho:hover .cuadroCinco{
  /* transform-origin: X Y; */
  /* transform-origin: 50% 50%; */
  transform-origin: top left;
  /* rotateZ(z) */
  transform: rotateZ(45deg);
}

.cuadroCinco{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 20px;
  background: #7dc900;
  height: 160px;
  width: 160px;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

/* ====================================================================================== */
/* ====================================================================================== */

.canastaNueve{
  border: 1px solid rgb(217, 0, 255);
  width: 98%;
  height: 200px;
  display: flex;
  align-items: center;
}

.cuadroSeis{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  /* margin: 20px; */
  background: #0075c9;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  animation-name: cuadrado6;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: relative;
  will-change: opacity;
}

@keyframes cuadrado6 {
  0% {
    opacity: 1;
    left: 0;
  }
  100% {
    opacity: 0;
    left: calc(100% - 160px);
  }
}

/* ====================================================================================== */
/* ====================================================================================== */

.canasta10{
  border: 1px solid rgb(135, 131, 136);
  width: 98%;
  height: 250px;
  display: flex;
  align-items: flex-end ;
}

.pelota4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  /* margin: 20px; */
  background: #c005c7;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  animation-name: pelota4, rebote;
  animation-duration: 4s,.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear, ease-in-out;
  position: relative;
}

@keyframes pelota4 {
  0% {
    /* opacity: 1; */
    left: 0;
  }
  100% {
    /* opacity: 0; */
    left: calc(100% - 160px);
  }
}

@keyframes rebote {
  /* 0% */
  from{
    transform: translateY(-100px);
  }
  /* 100% */
  to{
    transform: translateY(20%) scale(1, .6);
  }
}
/* ====================================================================================== */
/* ====================================================================================== */

.canasta11{
  border: 1px solid rgb(78, 243, 83);
  width: 98%;
  height: 250px;
  display: flex;
  align-items: flex-end ;
}

.pelota5{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  /* margin: 20px; */
  background: #f7d205;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  animation-name: pelota5, rebote2;
  animation-duration: 4s,.5s;
  animation-iteration-count: infinite, 16;
  animation-direction: alternate;
  animation-timing-function: linear, ease-in-out;
  position: relative;
}

@keyframes pelota5 {
  0% {
    /* opacity: 1; */
    left: 0;
  }
  100% {
    /* opacity: 0; */
    left: calc(100% - 100px);
  }
}

@keyframes rebote2 {
  /* 0% */
  from{
    transform: translateY(-150px);
  }
  /* 100% */
  to{
    transform: translateY(0%);
  }
}

@keyframes skewball {
  from{
    left: 0;
  }
  50%{
    transform: skew(360deg)
  }
  to{
    left: calc(100% - 100px);
  }
}


/* ====================================================================================== */
/* ====================================================================================== */

.canasta12{
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid #d4a5e6;
  height: 240px;
  width: 600px;
  
  position: relative;
  /* justify-items: flex-end; */
  grid-template-rows: repeat(8, 30px);
  grid-template-areas: "top top top"
                       "top top top"
                       "top top top"
                       "normal normal normal"
                       "normal normal normal"
                       "normal normal normal"
                       ". . ."
                       "buttons buttons buttons";
}

.pelota6{
  box-sizing: inherit;
  display: flex;
  height: 90px;
  width: 90px;
  background: red;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  color: white;
  border-radius: 50%;
  z-index: 6;
  grid-area: normal;
}

.buttons{
  display: grid;
  position: absolute;
  grid-gap: 5px;
  width: 100%;
  grid-template-columns: repeat(7, auto);
  justify-content: center;
  align-items: center;
  /* align-items: flex-end; */
  grid-area: buttons;
}

.lbl_Speed{
  margin: 0;
  padding: 5.5px;
  background: #0075c9;
  border: 1px solid whitesmoke;
  color: white;
  display: block;
  width: 40px;
  text-align: center;
}

.btn {
  text-align: center;
  background: #7dc800;
  /* arriba, derecha, para abajo */ /* y como no configure tercer parametro toma el de la derecha*/
  padding: .55em .8em .6em;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* margin: 5px; */
    /* Sombreado: Interno ejeX ejeY color */
  box-shadow: inset 0 -.2em rgba(0,0,0, .2);
  outline: 0;
  transition: .2s;
  will-change: transform; /*cuida el render*/
}

.btn:active{
  transform: scale(.9);
}

/* ====================================================================== */
/* ====================================================================== */

.platzi{
  width: 100px;
  height: 100px;
  position: relative;
  margin: 40px auto;
  /* background: red; */
  transform: rotate(45deg);
}

.platzi-left{
  width: 80%;
  /* La altura es dividida entre left y right */
  height: 65%;
  border: 20px solid #97c93e; /*recuerda el posicionamiento top right left bottom*/
                /* LeftTop rightTop Leftbottom rightbottom  */
  border-radius: 20px 20px 0 0;
  border-bottom: none;
  /* controla que el elemnto no se salga del padre  */
  box-sizing: border-box;
  /* para que esten pegados movemos un pixel */
  position: relative;
  top: 1px;
}

.platzi-right{
  width: 100%;
  height: 35%;
  border: 20px solid #97c93e;
  border-radius: 0 0 20px 20px;
  border-top: none;
  box-sizing: border-box;
}